//- tooltip
mixin tooltip(text,tooltip,placement,href)
	if undefined != href
		a(href=href,data-toggle=tooltip,data-placement=placement,title=tooltip)= text
	else
		a(href="#",data-toggle=tooltip,data-placement=placement,title=tooltip)= text

//- tooltip-left
mixin tooltip-left(text,tooltip,href)
	+tooltip(text,tooltip,"left",href)
	
//- tooltip-right
mixin tooltip-right(text,tooltip,href)
	+tooltip(text,tooltip,"right",href)
	
//- tooltip-top
mixin tooltip-top(text,tooltip,href)
	+tooltip(text,tooltip,"top",href)
	
//- tooltip-bottom
mixin tooltip-bottom(text,tooltip,href)
	+tooltip(text,tooltip,"bottom",href)
